.container{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  align-items: center;
}

nav {
  width: 30%;
  height: 90%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
  background: #c9d1b2;

  border-radius: 2rem;
}

nav img {
  width: 20rem;
}

.nav-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-header img {
  margin-right: 1rem;
  width: 3rem;
}

.nav-header h1 {
  color: #000;
}

nav p {
  padding: 1rem 3rem;
  text-align: justify;
}

nav p a {
  text-decoration: none;
  font-weight: 600;
  color: black;
  transition: color 0.3s;
}

nav p a:hover {
  color: rgb(28, 46, 150);
}

.nav-body {
  display: flex;
  flex-direction: column;
}

.nav-body a {
  width: 20rem;
  text-align:  center;
  background: white;
  color: #000;
  text-decoration: none;
  border-radius: 2rem;
  padding: 1rem;
  transition: background 0.5s;
  transition: color 0.3s;
}

.nav-body a:hover {
  background: rgb(28, 46, 150);
  color: #FFF;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55%;
  height: 90%;
 
  background: rgba(236, 241, 221, 0.9);
  border-radius: 2rem;
  padding: 2rem;
}

article form {
  display: flex;
  flex-direction: row;
}

article form input {
  width: 20rem;
  height: 2.5rem;
  border: 0;
  padding-left: 1rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}


article form select {
  margin-right: 2rem;
  width: 10rem;
  height: 2.5rem;
  border: 0;
  background: rgb(28, 46, 150);
  color: #FFF;
  font-size: 1.1rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

article form button {
  margin-right: 2rem;
  height: 2.5rem;
  border: 0;
  background: rgb(28, 46, 150);
  color: #FFF;
  padding: 0 2rem;
  border-radius: 2rem;
  transition: background 0.5s;
  transition: color 0.3s;
}

article form button:hover {
  background: white;
  color:black;
}

article table th {
  padding: .5rem;
  border: solid 1px #c9d1b2;
}
