.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  align-items: center;
}

.container nav {
  width: 30%;
  height: 90%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
  background: #c9d1b2;

  border-radius: 2rem;
}

.container nav a img {
  width: 16rem;
}

.nav-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-header img {
  margin-right: 1rem;
  width: 3rem;
}

.nav-header h1 {
  color: #000;
}

.container nav p {
  padding: 1rem 3rem;
  text-align: justify;
}

.container nav p a {
  text-decoration: none;
  font-weight: 600;
  color: black;
  transition: color 0.3s;
}

.container nav p a:hover {
  color: rgb(28, 46, 150);
}

.nav-body {
  display: flex;
  flex-direction: column;
}

.container article {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%; 
  background: rgba(236, 241, 221, 0.9);
  border-radius: 2rem;
  padding: 2rem;
}

.form-search {
  width: 55%;
  overflow: auto;
}

.form-search form {
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
}

.form-update form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.form-update label {
  padding: 0 0.4rem 0.1rem 0.4rem;
}

.form-update form input {
  width: 20rem;
  height: 2rem;
  margin-bottom: 0.4rem;
  border: 0;
  border-radius: 2rem;
  padding: 0.3rem 0.5rem;
}

.form-update form input:last-child {
  background: rgb(28, 46, 150);
  color: #fff;
  padding: 0.5rem;
  height: 2.5rem;
  border-radius: 2rem;
  margin-top: 1rem;
  transition: background 0.3s;
}

.form-update form input:last-child:hover {
  background: #3e8e41;
  border: 2px solid #329936;
  cursor: pointer;
}

.form-search form input {
  width: 30rem;
  height: 2.5rem;
  border: 0;
  padding-left: 1rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.form-search form button {
  margin-right: 2rem;
  height: 2.5rem;
  border: 0;
  background: rgb(28, 46, 150);
  color: #FFF;
  padding: 0 2rem;
  transition: background 0.5s;
  transition: color 0.3s;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.form-search form button:hover {
  background: white;
  color:black;
}

.table-data th {
  padding: 0.1rem;
  width: 5rem;
  border: solid 1px #c9d1b2;
}

.table-data thead th {
  color:rgb(28, 46, 150);
  border-color: rgb(28, 46, 150);
}

.table-data tr img {
  align-self: center;
  width: 2rem;
  padding: .1rem;
}
.table-data tr img:hover {
  width: 2.0rem;
  padding: 0rem;
}

.dropbtn {
  background-color: rgb(28, 46, 150);
  width: 20rem;
  padding: 1rem;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
  transition: border-radius 0.5s;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:first-child {
  margin-bottom: 1rem; 
}

.dropdown-content {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transition: visibility 0s, opacity 0.2s linear;
}

.dropdown-content {
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.dropdown-content a {
  color: black;
  width: 20rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: block;
}

.dropdown-content a:last-child {
  padding-bottom: 1rem;
}

.dropdown-content a:hover {
  color: rgb(28, 46, 150);
}

.dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
  display: flex;
  flex-direction: column;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}